<section class="l-section l-light-container">
	<div class="l-inner-container">
		<div class="row">
			<div class="columns medium-6">
				<h3 class="underlined">Daily Tools</h3>
				<ul class="toolkit">
					{% for item in post.get_field('tools') %}
						<li>{{ item.tool }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="columns medium-6">
				<h3 class="underlined">Certifications</h3>
				<ul class="unstyled certifications">
					{% for item in post.get_field('certifications') %}
						<li>
							<a href="{{ item.link }}" target="_blank">
								<img class="certified__badge" src="{{ item.badge }}" alt="">
								<span class="certified__name">{{ item.title }}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>