@import "foundation/functions";

// Don't include html classes to stop css bloat
$include-html-classes: false;

// Include these classes
$include-html-grid-classes: true;
$include-html-block-grid-classes: true;
$include-html-visibility-classes: true;
$include-html-type-classes: true;

// Colors
$body-font-color: #555;
$primary-color: #dd295c; //0478c1
$link-color: #00AF00;
$anchor-font-color-hover: $primary-color;

$brand-font-family: "Bree Serif";

$row-width: rem-calc(1000);

// Fonts
$h1-font-size: rem-calc(26);
$h2-font-size: rem-calc(19);
$h3-font-size: rem-calc(16);
$h4-font-size: rem-calc(14);
$paragraph-font-size: 14;

// Heading reduction for small screens (subtracted from default h1 sizes)
$h1-font-reduction: rem-calc(4);
$h2-font-reduction: rem-calc(3);
$h3-font-reduction: rem-calc(0);
$h4-font-reduction: rem-calc(1);