/* -------------------------------
   Layout
------------------------------- */
.l-fluid-image {
    width: 100%;
    height: auto;
    display: block;
}

.l-center-align {
    text-align: center;
}

.l-section {
	padding: rem-calc(30 0);
	@media #{$medium-up} {
		// padding: rem-calc(39 0 45);
	}
}

.l-thinner-section {
	padding: rem-calc(30 14 35);
	@media #{$medium-up} {
		padding: rem-calc(39 0);
	}
}

.l-light-container {
	background: #fff;
	min-height: rem-calc(300);
}

.l-inner-container {
	max-width: rem-calc(640);
	margin: 0 auto;
}

.collapse-left {
	padding-left: 0;
}

.collapse-right {
	padding-right: 0;
}

.collapse-small,
.collapse-small .columns {
	@media #{$small-only} {
		padding: 0;
	}
}

.introduction {
	max-width: rem-calc(616);
	margin: 0 auto;
    p {
    	@media #{$medium-up} {
			font-size: rem-calc(15);
    	}
    }
    -webkit-font-smoothing: antialiased;
}