/* -------------------------------
   Footer
------------------------------- */
.page-footer {
    padding-top: rem-calc(14);
    padding-bottom: rem-calc(14);
    font-style: italic;
    font-size: rem-calc(11.5);
    a {
        color: $body-font-color;
    }
    @media #{$medium-only} {
        padding-left: rem-calc(16);
    }
    @media #{$medium-up} {
        font-size: rem-calc(12);
    }
}