/* -------------------------------
   Navigation
------------------------------- */
.site-navigation {
	a {
		display: inline-block;
		text-decoration: none;
		padding: rem-calc(7 7 12);
		font-size: rem-calc(13);
		font-family: $brand-font-family;
		-webkit-font-smoothing: antialiased;
		&.active,
		&:hover {
			text-decoration: none;
			background: #f65784;
		}
	}
	padding-top: rem-calc(30);

	@media #{$medium-up} {
		padding-top: rem-calc(50);
		a {
			font-size: rem-calc(13);
			padding: rem-calc(9 9 13);
		}
	}
	@media #{$large-up} {
		padding-top: rem-calc(87);
	}
}