/* -------------------------------
   Footer
------------------------------- */
.site-footer {
    padding-top: rem-calc(14);
    padding-bottom: rem-calc(14);
    font-family: Arial, sans-serif;
    font-size: rem-calc(11);
    text-align: center;

    a {
    	color: #626262;
    }
}