/* -------------------------------
   Navigation
------------------------------- */
.site-navigation {
	padding-top: rem-calc(25);

	a {
		display: inline-block;
		text-decoration: none;
		padding: rem-calc(9 11 11);
		font-size: rem-calc(12);
		font-family: $brand-font-family;
		-webkit-font-smoothing: antialiased;
		
		&.current_page_item,
		&.current_page_parent,
		&:hover,
		&:focus {
			text-decoration: none;
			background: #f65784;
			color: #fff;
			cursor: pointer;
		}
	}

	@media #{$medium-up} {
		padding-top: rem-calc(30);
		a {
			font-size: rem-calc(14);
			padding: rem-calc(9 14 10);
		}
	}
	@media #{$large-up} {
		padding-top: rem-calc(60);
	}
}