/* -------------------------------
   Projects
------------------------------- */
.project__list {
	// display: flex;
	// flex-wrap: wrap;
	margin: rem-calc(16 0);
	@media #{$medium-up} {
		margin: 0;
	}

	.project {
		// display: flex;
		padding: 0;
		margin-bottom: rem-calc(25);
		position: relative;
		@media #{$medium-up} {
			padding-right: rem-calc(14);
			padding-bottom: rem-calc(14);
			margin-bottom: 0;
		}
		@media #{$large-up} {
			&.collapse-bottom {
				padding-bottom: 0;
			}
		}
	}

	.project__image {
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: rem-calc(8);
	}
	.project__title {
		margin-bottom: rem-calc(7);
		@media #{$large-up} {
			margin-top: rem-calc(10);
		}
	}

	.project__date {
		
	}

	.project__cta {
		text-decoration: none;
		border: 1px solid $primary-color;
		padding: rem-calc(6 25 6 20);
		border-radius: 6px;
		// background: $primary-color;
		// color: #fff;
		width: 100%;
		display: block;
		position: relative;
		@media #{$large-up} {
			width: 50%;
		}
		@media #{$large-up} {
			// width: rem-calc(118);
		}
		text-align: center;
		&:hover {
			background: #fff;
			color: $primary-color;
		}
		background: $primary-color;
		color: #fff;
		transition: all 0.5;
		@include icon($chevron-right, after){
			font-size: rem-calc(13);
			position: absolute;
			top: 7px;
			right: 10px;
		};
	}

	.project__meta {
		@include clearfix();
		width: 100%;
		// .icon:before {
		// 	color: #5372d8;
		// }
	}

	.project__category {
		float: left;
		padding-right: rem-calc(8);
	}

	.project__description {
		position: relative;
		background: #fff;
		@media #{$medium-up} {
			padding: rem-calc(14);
			border: 1px dashed #bbb;
		}
		@media #{$large-up} {
			height: rem-calc(380);

			.project__cta {
				position: absolute;
				bottom: rem-calc(13);
				left: rem-calc(14);
			}
		}
		
	}

}