{% extends "base.twig" %}

{% block content %}

	<section class="l-section l-center-align">
		<h2><span class="error-code">404</span> Page not found</h2>
	</section>

	<section class="l-section l-center-align l-light-container contact">
		<div class="row">
			<div class="columns">
				<p>Sorry, this is not the page you're looking for.</p>
			</div>
		</div>
	</section>

{% endblock %}