{% extends "base.twig" %}

{% block content %}

	<section class="l-section l-center-align">
		<h1 class="article-heading coloured">{{ post.title }}</h1>
		<p class="article-date">{{ post.post_date|date }}</p>
	</section>

	<section class="l-section l-light-container">
		<div class="row">
			<div class="columns">
				<article>
					<section>
						<div class="article-body">
							{{post.content}}
						</div>
					</section>
				</article>
			</div>
		</div>
	</section>

{% endblock %}