{% extends "tease.twig" %}

{% block content %}
	<h3 class="tease-heading"><a href="{{post.link}}">{{post.title}}</a></h3>
	<p class="article-date">{{ post.post_date|date}}</p>
	<p>{{post.get_preview(19)}}</p>
{% endblock %}