/* -------------------------------
   Projects
------------------------------- */
.project__list {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

	.project {
		display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

		padding: 0;
		margin-bottom: rem-calc(25);

		&:last-child {
			margin-bottom: 0;
		}

		@media #{$medium-up} {
			margin-bottom: 0;
			padding-bottom: rem-calc(14);

			&:nth-child(odd) {
				padding-right: rem-calc(7);
			}
			&:nth-child(even) {
				padding-left: rem-calc(7);
			}
		}

		@media #{$large-up} {
			&:nth-child(odd) {
				padding-left: rem-calc(7);
			}
			&:nth-child(even) {
				padding-right: rem-calc(7);
			}
		}
	}

	.project__image {
		width: 100%;
		height: auto;
		display: block;
		// margin-bottom: rem-calc(8);
	}

	.project__title {
		font-size: rem-calc(15);
		margin-top: rem-calc(10);
		margin-bottom: rem-calc(6);
		a {
			text-decoration: none;
			&:hover {
				color: $primary-color;
			}
		}
	}

	.project__meta {
		@include clearfix();
		width: 100%;
		// color: #000;
		color: #5372d8;
		font-size: rem-calc(12);
		font-family: Arial, sans-serif;
		letter-spacing: 0.03em;
		margin-bottom: rem-calc(10);

		.icon:before {
			color: #5372d8;
			// color: #000;
			margin-right: rem-calc(13);
			// position: relative;
			// top: 2px;
		}
	}

	.project__category {
		float: left;
		padding-right: rem-calc(15);
	}

	.project__description {
		position: relative;
		background: #fff;
		padding: rem-calc(14);
		border: 1px dashed #bbb;
		font-size: rem-calc(13.5);
		p {
			font-size: rem-calc(13.5);
			line-height: 1.5;
			margin-bottom: rem-calc(8);
		}

		@media #{$medium-up} {
			padding-bottom: rem-calc(55);
			p {
				margin-bottom: rem-calc(10);
			}
		}

		
	}

	.project__cta {
		width: 100%;
		position: relative;
		// width: rem-calc(150);
		// padding: rem-calc(10 14);
		// text-align: left;
		@include icon($chevron-right, after){
			color: #fff;
			position: absolute;
			top: rem-calc(10);
			right: rem-calc(10);
			transition: position, 0.3s ease;
		};

		&:hover {
			&:after {
				right: rem-calc(16);
			}
		}

		@media #{$medium-up} {
			width: auto;
			position: absolute;
			bottom: rem-calc(14);
		}
	}
}