/* -------------------------------
   Header
------------------------------- */
.page-header {
    @media #{$medium-up} {
        position: absolute;
        top: rem-calc(-90);
    }
}

.main-navigation {
	padding-bottom: rem-calc(15);
	@media #{$medium-up} {
		padding-left: rem-calc(2);
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);
	}
	a {
		color: #5372d8;
		margin-right: rem-calc(10);
		&.active {
			text-decoration: none;
			color: #000;
			// border: 1px solid #bbb;
			// padding: rem-calc(4 14);
			// border-radius: 6px;
			// background: #fff;
			// background: $primary-color;
		}
	}
}