/* -------------------------------
   Header
------------------------------- */
.site-header {
    padding-top: rem-calc(6);
    // background: url(../images/maple_grove_large.jpg) no-repeat top center;
    background: $header-footer-bg;

    h3 {
	    color: $primary-color;
	    font-size: rem-calc(14);
	}
}

.site-header__title {
    text-align: center;
    @media #{$medium-up} {
		text-align: left;
    }
}

.site-header__intro {
	margin-top: rem-calc(7);
	p {
		color: #888;
		font-style: italic;
		font-size: rem-calc(13);
		&:first-child {
			margin-bottom: rem-calc(7);
		}
	}
	span {
		color: #fff;
	}
	@media #{$medium-up} {
		margin-top: rem-calc(4);
		p {
			float: right;
			text-align: right;
			font-size: rem-calc(12);
			&:first-child {
				margin-bottom: rem-calc(3);
			}
		}
	}
}