/* -------------------------------
   Containers
------------------------------- */
.sidebar {
    .columns {
        height: rem-calc(230);
        @media #{$medium-up} {
            height: auto;
        }
    }
    @media #{$medium-only} {
		padding-right: 0;
		position: relative;
		left: rem-calc(1);
	}
}

.content__wrapper {
    padding: rem-calc(16);
    padding-top: 0;
    @media #{$medium-up} {
        margin-top: rem-calc(40);
        padding-top: rem-calc(12);
    }
}

.content {
    padding: rem-calc(14);
    min-height: rem-calc(300);
}