/* -------------------------------
   Layout
------------------------------- */
.unstyled {
    margin: 0;
    li {
        list-style-type: none;
    }
}

.toolkit-list {
    @media #{$large-up} {
        width: 50%;
    }
    @include clearfix();
    li {
        float: left;
        width: 50%;
    }
}

.social-list {
    margin-top: rem-calc(16);
    li {
        display: inline-block;
        margin-right: rem-calc(7);
        &:last-child {
            margin-right: 0;
        }
        a {
            color: #fff;
            text-decoration: none;
            &:before {
                font-size: rem-calc(18);
                @media #{$medium-up} {
                    font-size: rem-calc(23);
                }
            }
        }
    }
    @media #{$medium-up} {
        margin-top: rem-calc(22);
        li {
            margin-right: rem-calc(13);
        }
    }
}