/* -------------------------------
   UI elements
------------------------------- */
.button {
	font-size: rem-calc(14);
	text-align: center;
	color: #fff;
	width: 100%;
	display: block;
	padding: rem-calc(10 50);

	@media #{$medium-up} {
		width: auto;
		display: inline-block;
		padding: rem-calc(10 60);
	}
	
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	text-decoration: none;
	background: $primary-color none repeat scroll 0% 0%;
	border-bottom: 3px solid darken($primary-color, 11%);
	
	border-radius: 4px;
	&:hover, &:focus {
        text-decoration: none;
        color: #fff;
    }
}

.icon--github {
  	@include icon($github);
}

.icon--linkedin {
	@include icon($linkedin);
}

.icon--stackoverflow {
  	@include icon($stackoverflow, after){
		position: relative;
		top: 1px;
		font-size: rem-calc(19);
        @media #{$medium-up} {
            font-size: rem-calc(24);
        }
  	}
}

.icon--calendar {
  	@include icon($calendar);
}

.icon--volunteer {
  	@include icon($group);
}

.icon--email {
  	@include icon($email){
  		font-size: rem-calc(12);
  		position: relative;
  		top: 0;
  	};
}

.icon--business {
  	@include icon($briefcase){
  		font-size: rem-calc(12);
  		position: relative;
  		top: 0;
  	}
}
