/* -------------------------------
   Layout
------------------------------- */
.collapse-small,
.collapse-small .columns {
	@media #{$small-only} {
		padding: 0;
	}
}

.l-fluid-image {
    width: 100%;
    height: auto;
    display: block;
}

.l-center-align {
    text-align: center;
}

.l-bordered-container {
	background: #fff;
	border: 1px dashed #bbb;
}

.l-bordered-container--small {
	@media #{$medium-up} {
		padding: 0;
		h1 {
			left: rem-calc(27);
		}
	}
	@media #{$small-only} {
		background: #fff;
		border: 1px dashed #bbb;
	}
}

.badge {
    display: inline-block;
    position: relative;
    left: rem-calc(-14);
}

.sketch {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;
    @media #{$medium-down} {
        max-width: rem-calc(243);
    }
}

.tagline__wrapper {
    position: relative;
    @media #{$large-up} {
		left: rem-calc(12);
    }
}

.tagline {
    position: absolute;
    bottom: 0;
    left: rem-calc(-35);
    @media screen and (min-width: 480px) {
		bottom: rem-calc(10);
		left: rem-calc(-60);
    }
    @media #{$medium-up} {
    	position: static;
    }
}

.tagline__role {
	font-family: $body-font-family;
	color: $body-font-color;
	letter-spacing: 0.015em;
	@media #{$medium-up} {
		letter-spacing: .065em;
	}
}

.button {
	font-size: rem-calc(14);
	text-align: center;
	color: #fff;
	width: 100%;
	display: block;
	padding: rem-calc(10 50);
	@media #{$medium-up} {
		width: auto;
		display: inline-block;
		padding: rem-calc(10 60);
	}
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	text-decoration: none;
	background: $primary-color none repeat scroll 0% 0%;
	border-bottom: 3px solid darken($primary-color, 11%);
	
	border-radius: 4px;
	&:hover, &:focus {
        text-decoration: none;
        color: #fff;
    }
}

.icon--github {
  	@include icon($github);
}

.icon--linkedin {
  	@include icon($linkedin);
}

.icon--stackoverflow {
  	// @include icon($stackoverflow);
}

.icon--calendar {
  	@include icon($calendar);
}

.icon--volunteer {
  	@include icon($group);
}

.icon--business {
  	@include icon($briefcase){
  		font-size: rem-calc(12);
  		position: relative;
  		top: 0;
  	}
}

