/* -------------------------------
   Layout
------------------------------- */
.collapse-small,
.collapse-small .columns {
	@media #{$small-only} {
		padding: 0;
	}
}

.l-fluid-image {
    width: 100%;
    height: auto;
    display: block;
}

.center-align {
    text-align: center;
}

.l-bordered-container {
	background: #fff;
	padding: rem-calc(14);
	border: 1px dashed #bbb;
}


// .test {
//     border-top: 1px dashed lighten($body-font-color, 18%);
//     border-bottom: 1px dashed lighten($body-font-color, 18%);
//     padding-top: rem-calc(7);
//     padding-bottom: rem-calc(11);
//     h3,h4 {
//         margin: 0;
//         line-height: 1;
//     }
// }

.sidebar {
    .columns {
        height: rem-calc(230);
        @media #{$medium-up} {
            height: auto;
        }
    }
    @media #{$medium-only} {
		padding-right: 0;
		position: relative;
		left: rem-calc(1);
	}
	h4 {
		font-family: $body-font-family;
		color: $body-font-color;
		// letter-spacing: 0.01em;
		// @media #{$medium-up} {
		// 	letter-spacing: 0.027em;
		// }
	}
}


.sketch {
    max-width: rem-calc(169);
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;
    @media #{$medium-up} {
        max-width: rem-calc(200);
    }
}

.tagline__wrapper {
    position: relative;
}

.tagline {
    position: absolute;
    bottom: rem-calc(1);
    left: rem-calc(-35);
    @media #{$medium-up} {
    	position: static;
    	// margin-left: rem-calc(7);
    }
    @media #{$large-up} {
    	margin-left: rem-calc(12);
    }
}

.button {
	font-size: rem-calc(14);
	text-align: center;
	color: #fff;
	width: 100%;
	display: block;
	@media #{$medium-up} {
		width: auto;
		display: inline-block;
	}
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	text-decoration: none;
	background: $primary-color none repeat scroll 0% 0%;
	border-bottom: 3px solid darken($primary-color, 11%);
	padding: rem-calc(10 50);
	border-radius: 4px;
	&:hover, &:focus {
        text-decoration: none;
        color: #fff;
    }
}

.icon--github {
  	@include icon($github);
}