/* -------------------------------
   Layout
------------------------------- */
.collapse-small,
.collapse-small .columns {
	@media #{$small-only} {
		padding: 0;
	}
}

.l-fluid-image {
    width: 100%;
    height: auto;
    display: block;
}

.l-center-align {
    text-align: center;
}

.l-bordered-container {
	background: #fff;
	border: 1px dashed #bbb;
}

.l-bordered-container--small {
	@media #{$medium-up} {
		&.content {
            padding: 0;
        }
        .page-header {
            padding-left: rem-calc(14);
        }
	}
	@media #{$small-only} {
		background: #fff;
        border: 1px dashed #bbb;
	}
}

.badge {
    display: inline-block;
    position: relative;
    left: rem-calc(-14);
}

.sketch {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;
    @media #{$medium-down} {
        max-width: rem-calc(243);
    }
}

.tagline__wrapper {
    @media #{$medium-up} {
		margin-right: 10%;
    }
}

.tagline__inner {
    position: absolute;
    bottom: rem-calc(10);
    left: rem-calc(-35);
    text-align: center;
    @media screen and (min-width: 480px) {
		left: rem-calc(-60);
    }
    @media #{$medium-up} {
    	position: static;
    	width: rem-calc(165);
    	margin: 0 auto;
    }
}

.tagline__name {
	padding-left: .1em;
    @media #{$small-only} {
    letter-spacing: 0.04em;
    }
	
}

.tagline__role {
	font-family: $body-font-family;
	color: $body-font-color;
	// letter-spacing: 0.025em;
	margin-bottom: rem-calc(5);
	@media #{$medium-up} {
		// letter-spacing: .065em;
		margin-bottom: rem-calc(8);
	}
}

