/* -------------------------------
   Layout
------------------------------- */
ul {
    margin-left: rem-calc(14);
}

.unstyled {
    margin: 0;
    li {
        list-style-type: none;
    }
}

.toolkit-list {
    @media #{$large-up} {
        width: 50%;
    }
    @include clearfix();
    li {
        float: left;
        width: 50%;
    }
}

.social-list {
    text-align: center;
    margin-top: rem-calc(5);
    @media #{$medium-up} {
        margin-top: 0;
    }
    li {
        display: inline-block;
        margin-right: rem-calc(2);
        a {
            color: $body-font-color;
            text-decoration: none;
            &:hover {
                color: #000;
            }
            &:before {
                font-size: rem-calc(23);
            }
            &.icon--linkedin {
                &:before {
                    font-size: rem-calc(20);
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 640px) {
    .social-list,
    .tagline {
        float: left;
    }
    .social-list {
        margin-left: rem-calc(14);
    }
}