/* -------------------------------
   Projects
------------------------------- */
.project__list {
	// display: flex;
	// flex-wrap: wrap;

	margin: rem-calc(16 0);
	@media #{$medium-up} {
		margin-top: 0;
	}

	.project {
		// display: flex;
		padding: 0;
		margin-bottom: rem-calc(16);
		position: relative;
		@media #{$medium-up} {
			padding-right: rem-calc(14);
			padding-bottom: rem-calc(14);
			margin-bottom: 0;
		}
	}

	.project__image {
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: rem-calc(8);
	}
	.project__title {
		margin-bottom: rem-calc(7);
	}

	.project__date {
		// float: right;
	}

	.project__meta {
		@include clearfix();
		width: 100%;
	}

	.project__category {
		float: left;
		padding-right: rem-calc(8);
	}

	.project__description {
		background: #fff;
		@media #{$medium-up} {
			padding: rem-calc(14);
			border: 1px dashed #bbb;
		}
	}

}