/* -------------------------------
   Typography
------------------------------- */

h1,h2,h3,h4,h5,h6,
.mimic-h1 {
    display: block;
    line-height: 1;
    font-weight: normal;
    color: $primary-color;
    &.collapse {
        margin: 0;
    }
    font-family: $brand-font-family;
}

h1, p {
    margin-bottom: rem-calc(14);
}

h1,h2,h3 {
    margin-top: 0;
}

h3 {
    letter-spacing: 0.02em;
}

.mimic-h1 {
    font-size: $h1-font-size - $h1-font-reduction;
    @media #{$medium-up} {
        font-size: $h1-font-size;
    }
}