/* -------------------------------
   Base styles
------------------------------- */

* {
  	@include box-sizing(border-box);
  	-webkit-text-size-adjust: none;
  	margin: 0;
  	padding: 0;
}

a {
  	outline: none;
}