/* -------------------------------
   Base styles
------------------------------- */

html, body {
    margin: 0;
    padding: 0;
}

* {
  	box-sizing: border-box;
  	-webkit-text-size-adjust: none;
}

body {
    color: $body-font-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    line-height: 1.3;
}

a {
    color: $primary-color;
    outline: none;
    line-height: 1;
    text-decoration: underline;
    &:hover, &:focus {
        text-decoration: none;
        color: currentColor;
    }
}