$screen : "only screen";
$landscape : "only screen and (orientation: landscape)";
$portrait : "only screen and (orientation: portrait)";
$small-up : "only screen";
$small-only : "only screen and (max-width: 40em)";
$small-landscape : "only screen and (max-width: 40em) and (orientation: landscape)";
$medium-up : "only screen and (min-width:40.063em)";

$medium-down : "only screen and (max-width:62em)";
$medium-only : "only screen and (min-width:40.063em) and (max-width:62em)";
$large-up : "only screen and (min-width:62.063em)";

$large-down : "only screen and (max-width:75em)";
$large-only : "only screen and (min-width:62.063em) and (max-width:75em)";

$xlarge-up : "only screen and (min-width:75.063em)";
$xlarge-down : "only screen and (max-width:120em)";
$xlarge-only : "only screen and (min-width:75.063em) and (max-width:120em)";
$xxlarge-up : "only screen and (min-width:120.063em)";
$xxlarge-only : "only screen and (min-width:120.063em) and (max-width:99999999em)";
