@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/firasans/firasans-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/firasans/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/firasans/firasans-regular-webfont.woff2') format('woff2'), Super Modern Browsers
        url('../fonts/firasans/firasans-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/firasans/firasans-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/firasans/firasans-regular-webfont.svg#FiraSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'RalewayLight';
    src: url('../fonts/raleway/raleway-light-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/raleway/raleway-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/raleway/raleway-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/raleway/raleway-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/raleway/raleway-light-webfont.svg#RalewayLight') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway-regular-webfont.eot');
    src: url('../fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway-regular-webfont.svg#Raleway') format('svg');
}

@font-face {
    font-family: 'RalewayMedium';
    src: url('../fonts/raleway/raleway-medium-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/raleway/raleway-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/raleway/raleway-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/raleway/raleway-medium-webfont.svg#RalewayMedium') format('svg'); /* Legacy iOS */
}