/* -------------------------------
   Typography
------------------------------- */

h1,h2,h3,h4,h5,h6 {
    -webkit-font-smoothing: antialiased;
    display: block;
    line-height: 1;
    font-weight: normal;
}

h1 {
    // font-family: "Sansita One";
    color: #fff;
    margin: 0;
}

a {
	text-decoration: none;
    outline: none;  
    color: $primary-color;
    // &:hover {
    //     text-decoration: underline;
    // }
    // &:visited {
    //     color: inherit
    // }
    // &:hover {
    //     // color: $primary-color-hover;
    // }
}

.unstyled {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
}